# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Kut_tt_reader_131/Debug/
*.suo
*.ilk
Debug/
Kut_tt_reader_131.VC.db
Kut_tt_reader.VC.db
Kut_tt_reader.VC.VC.opendb
